extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.slider-1
		.owl-carousel.owl-themes
			.item
				.blockimg
					figure
						img.img-fluid(src="./img/background_1.png", alt="Landingpage VN")
				.title
					.container
						.row
							.col
								h1 custom watches for
									<br> any occasion
								ul.choose.list-unstyled
									li.choose-1
										a.choose-link(href="#") design & order
									li.choose-2
										a.choose-link(href="#") request virtual sample
			.item
				.blockimg
					figure
						img.img-fluid(src="./img/background_1.png", alt="Landingpage VN")
				.title
					.container
						.row
							.col
								h1 custom watches for
									<br> any occasion
								ul.choose.list-unstyled
									li.choose-1
										a.choose-link(href="#") design & order
									li.choose-2
										a.choose-link(href="#") request virtual sample
			.item
				.blockimg
					figure
						img.img-fluid(src="./img/background_1.png", alt="Landingpage VN")
				.title
					.container
						.row
							.col
								h1 custom watches for
									<br> any occasion
								ul.choose.list-unstyled
									li.choose-1
										a.choose-link(href="#") design & order
									li.choose-2
										a.choose-link(href="#") request virtual sample
			.item
				.blockimg
					figure
						img.img-fluid(src="./img/background_1.png", alt="Landingpage VN")
				.title
					.container
						.row
							.col
								h1 custom watches for
									<br> any occasion
								ul.choose.list-unstyled
									li.choose-1
										a.choose-link(href="#") design & order
									li.choose-2
										a.choose-link(href="#") request virtual sample
	//- Phần Stories
	section.stories
		.owl-carousel.owl-themes
			.item
				.blockimg
					figure
						img.img-fluid(src="./img/background_2.png", alt="Landingpage VN")
				.title
					.container
						.row
							.col
							.col
								h2 our store
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta eligendi sed corporis quod doloremque mollitia, laudantium provident soluta tempora veniam! Nisi voluptatem nam possimus officia sed cum maxime ipsam eaque! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas optio dolores illum dicta, vitae vel? Culpa dolor ut amet modi quos nemo veniam numquam eius, itaque placeat corrupti, rerum voluptatem.
			.item
				.blockimg
					figure
						img.img-fluid(src="./img/background_2.png", alt="Landingpage VN")
				.title
					.container
						.row
							.col
							.col
								h2 our store
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta eligendi sed corporis quod doloremque mollitia, laudantium provident soluta tempora veniam! Nisi voluptatem nam possimus officia sed cum maxime ipsam eaque! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas optio dolores illum dicta, vitae vel? Culpa dolor ut amet modi quos nemo veniam numquam eius, itaque placeat corrupti, rerum voluptatem.
			.item
				.blockimg
					figure
						img.img-fluid(src="./img/background_2.png", alt="Landingpage VN")
				.title
					.container
						.row
							.col
							.col
								h2 our store
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta eligendi sed corporis quod doloremque mollitia, laudantium provident soluta tempora veniam! Nisi voluptatem nam possimus officia sed cum maxime ipsam eaque! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas optio dolores illum dicta, vitae vel? Culpa dolor ut amet modi quos nemo veniam numquam eius, itaque placeat corrupti, rerum voluptatem.
