extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.product
		.container
			.row
				.col-6.text-left
					.title
						h2 COLLECTIONS
				.col-6.text-right
					.link
						a(href="#") LATEST
						a(href="#") POPULAR
			.row.mt-5
				.col-md-4.text-center
					.item
						figure
							img.img-fluid(src="/img/proct_1.png", alt="")
						figcaption
							h3 ADRIATICA ADR
							span Luxury
				.col-md-4.text-center
					.item
						figure
							img.img-fluid(src="/img/proct_2.png", alt="")
						figcaption
							h3 SEIKO SMZGO7K1
							span Luxury
				.col-md-4.text-center
					.item
						figure
							img.img-fluid(src="/img/proct_3.png", alt="")
						figcaption
							h3 ROAMER RM 220837
							span Luxury
	section.logotdk
		.container
			.owl-carousel.owl-theme
				.item
					img(src="./img/trademark_1.png", alt="")
				.item
					img(src="./img/trademark_2.png", alt="")
				.item
					img(src="./img/trademark_3.png", alt="")
				.item
					img(src="./img/trademark_4.png", alt="")
				.item
					img(src="./img/trademark_1.png", alt="")
				.item
					img(src="./img/trademark_2.png", alt="")
				.item
					img(src="./img/trademark_3.png", alt="")
				.item
					img(src="./img/trademark_4.png", alt="")
	section.comment
		.container
			.row
				.col.text-center
					.title
						h2 WHAT CUSTOMERS ARE SAYING
			.row.no-gutters
				.owl-carousel.owl-theme
					.col
						.box
							.row
								.col-md-5
									figure
										img.img-fluid(src="./img/cmt_1.png", alt="")
								.col-md-7
									figcaption
										h4 AMANDA SMITH
										p 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ipsam blanditiis, nihil voluptatum officiis, quisquam
					.col
						.box
							.row
								.col-md-5
									figure
										img.img-fluid(src="./img/cmt_2.png", alt="")
								.col-md-7
									figcaption
										h4 SANDRA WILLIMS
										p 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ipsam blanditiis, nihil voluptatum officiis, quisquam
					.col
						.box
							.row
								.col-md-5
									figure
										img.img-fluid(src="./img/cmt_1.png", alt="")
								.col-md-7
									figcaption
										h4 AMANDA SMITH
										p 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ipsam blanditiis, nihil voluptatum officiis, quisquam
					.col
						.box
							.row
								.col-md-5
									figure
										img.img-fluid(src="./img/cmt_2.png", alt="")
								.col-md-7
									figcaption
										h4 SANDRA WILLIMS
										p 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ipsam blanditiis, nihil voluptatum officiis, quisquam
