extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.slider-1#home
		.owl-carousel.owl-themes
			.item
				.blockimg
					figure(data-aos="fade-up" data-aos-duration="3000")
						img.img-fluid(src="./img/background_1.png", alt="Landingpage VN")
				.title(data-aos="fade-right" data-aos-duration="3000")
					.container
						.row
							.col
								h1 custom watches for
									<br> any occasion
								ul.choose.list-unstyled
									li.choose-1
										a.choose-link(href="#") design & order
									li.choose-2
										a.choose-link(href="#") request virtual sample
			.item
				.blockimg
					figure(data-aos="fade-up" data-aos-duration="3000")
						img.img-fluid(src="./img/background_1.png", alt="Landingpage VN")
				.title(data-aos="fade-right" data-aos-duration="3000")
					.container
						.row
							.col
								h1 custom watches for
									<br> any occasion
								ul.choose.list-unstyled
									li.choose-1
										a.choose-link(href="#") design & order
									li.choose-2
										a.choose-link(href="#") request virtual sample
			.item
				.blockimg
					figure(data-aos="fade-up" data-aos-duration="3000")
						img.img-fluid(src="./img/background_1.png", alt="Landingpage VN")
				.title(data-aos="fade-right" data-aos-duration="3000")
					.container
						.row
							.col
								h1 custom watches for
									<br> any occasion
								ul.choose.list-unstyled
									li.choose-1
										a.choose-link(href="#") design & order
									li.choose-2
										a.choose-link(href="#") request virtual sample
			.item
				.blockimg
					figure(data-aos="fade-up" data-aos-duration="3000")
						img.img-fluid(src="./img/background_1.png", alt="Landingpage VN")
				.title(data-aos="fade-right" data-aos-duration="3000")
					.container
						.row
							.col
								h1 custom watches for
									<br> any occasion
								ul.choose.list-unstyled
									li.choose-1
										a.choose-link(href="#") design & order
									li.choose-2
										a.choose-link(href="#") request virtual sample
	//- Phần Stories
	section.stories#watch
		.owl-carousel.owl-themes
			.item
				.blockimg
					figure
						img.img-fluid(src="./img/background_2.png", alt="Landingpage VN")
				.title(data-aos="fade-left" data-aos-duration="3000")
					.container
						.row
							.col
							.col
								h2 our store
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta eligendi sed corporis quod doloremque mollitia, laudantium provident soluta tempora veniam! Nisi voluptatem nam possimus officia sed cum maxime ipsam eaque! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas optio dolores illum dicta, vitae vel? Culpa dolor ut amet modi quos nemo veniam numquam eius, itaque placeat corrupti, rerum voluptatem.
			.item
				.blockimg
					figure
						img.img-fluid(src="./img/background_2.png", alt="Landingpage VN")
				.title(data-aos="fade-left")
					.container
						.row
							.col
							.col
								h2 our store
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta eligendi sed corporis quod doloremque mollitia, laudantium provident soluta tempora veniam! Nisi voluptatem nam possimus officia sed cum maxime ipsam eaque! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas optio dolores illum dicta, vitae vel? Culpa dolor ut amet modi quos nemo veniam numquam eius, itaque placeat corrupti, rerum voluptatem.
			.item
				.blockimg
					figure
						img.img-fluid(src="./img/background_2.png", alt="Landingpage VN")
				.title(data-aos="fade-left")
					.container
						.row
							.col
							.col
								h2 our store
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta eligendi sed corporis quod doloremque mollitia, laudantium provident soluta tempora veniam! Nisi voluptatem nam possimus officia sed cum maxime ipsam eaque! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas optio dolores illum dicta, vitae vel? Culpa dolor ut amet modi quos nemo veniam numquam eius, itaque placeat corrupti, rerum voluptatem.
	//- Phần product
	section.product#service
		.container
			.row
				.col-6.text-left
					.title
						h2 COLLECTIONS
				.col-6.text-right
					.link
						a(href="#") LATEST
						a(href="#") POPULAR
			.row.mt-5
				.col-md-4.text-center
					.item(data-aos="fade-right" data-aos-duration="2000")
						figure
							img.img-fluid(src="./img/proct_1.png", alt="")
						figcaption
							h3 ADRIATICA ADR
							span Luxury
				.col-md-4.text-center
					.item(data-aos="fade-up" data-aos-duration="2000")
						figure
							img.img-fluid(src="./img/proct_2.png", alt="")
						figcaption
							h3 SEIKO SMZGO7K1
							span Luxury
				.col-md-4.text-center
					.item(data-aos="fade-left" data-aos-duration="2000")
						figure
							img.img-fluid(src="./img/proct_3.png", alt="")
						figcaption
							h3 ROAMER RM 220837
							span Luxury
	//- Phần Đối tác
	section.logotdk#faq
		.container
			.owl-carousel.owl-theme
				.item
					img(src="./img/trademark_1.png", alt="")
				.item
					img(src="./img/trademark_2.png", alt="")
				.item
					img(src="./img/trademark_3.png", alt="")
				.item
					img(src="./img/trademark_4.png", alt="")
				.item
					img(src="./img/trademark_1.png", alt="")
				.item
					img(src="./img/trademark_2.png", alt="")
				.item
					img(src="./img/trademark_3.png", alt="")
				.item
					img(src="./img/trademark_4.png", alt="")

	//- Phần comments
	section.comment#contact
		.container
			.row
				.col.text-center
					.title
						h2 WHAT CUSTOMERS ARE SAYING
			.row.no-gutters
				.owl-carousel.owl-theme
					.col
						.box
							.row
								.col-md-5
									figure
										img.img-fluid(src="./img/cmt_1.png", alt="")
								.col-md-7
									figcaption
										h4 AMANDA SMITH
										p 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ipsam blanditiis, nihil voluptatum officiis, quisquam
					.col
						.box
							.row
								.col-md-5
									figure
										img.img-fluid(src="./img/cmt_2.png", alt="")
								.col-md-7
									figcaption
										h4 SANDRA WILLIMS
										p 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ipsam blanditiis, nihil voluptatum officiis, quisquam
					.col
						.box
							.row
								.col-md-5
									figure
										img.img-fluid(src="./img/cmt_1.png", alt="")
								.col-md-7
									figcaption
										h4 AMANDA SMITH
										p 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ipsam blanditiis, nihil voluptatum officiis, quisquam
					.col
						.box
							.row
								.col-md-5
									figure
										img.img-fluid(src="./img/cmt_2.png", alt="")
								.col-md-7
									figcaption
										h4 SANDRA WILLIMS
										p 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ipsam blanditiis, nihil voluptatum officiis, quisquam
