body
	background: $blacks
	font-family: 'BebasNeueBold'
	font-weight: normal
	font-style: normal
// Phần Slider-1
	
.slider-1
	position: relative
	.owl-carousel
		.item
			.title
				// +pos(abs, 50% 0 0 0)
				// transform: translateY(-50%)
				h1, .choose-1, .choose-2
					text-transform: uppercase
				h1
					color: $whites
					+fz(1.8rem)
					text-align: center
					+mar(0)
					// +mar(1rem 0 0 0)
					// +pos(abs, -220px 0 0 7%)
					// width: 62%
				.choose
					display: inline-flex
					justify-content: center
					width: 100%
					+mar(1rem)
					.choose-1, .choose-2
						+pad(.5rem)
						+fz(.8rem)
						box-shadow: 0 0 0 1px #957364 inset
						transition: .5s all ease-in-out
					.choose-1
						+mar(0 1rem 0 0)
					.choose-link
						text-decoration: none
						color: #957364
	+media-breakpoint-up(sm)
		.owl-carousel
			.item
				position: relative
				.title
					+pos(abs, 30% 0 0 0)
					tranform: translateY(-50%)
					h1
						text-align: left
						display: inline-block
						+fz(2.5rem)
						+lh(3.5rem)
						+mar(0 0 2rem 0)
					.choose
						display: inline-flex
						justify-content: flex-start
						+mar(1rem 0 0 0)
	+media-breakpoint-up(md)
		.owl-carousel
			.item
				.title
					+pos(abs, 20% 0 0 0)
					h1
						+fz(3rem)
						+lh(4rem)
					.choose
						.choose-1
							+pad(1rem)
							&:hover
								background: #ffbd46
								transition: .5s all ease-in-out
								.choose-link
									color: #651f01
						.choose-link
							+fz(1.1rem)
						.choose-2
							+pad(1rem)
							&:hover
								background: #ffbd46
								transition: .5s all ease-in-out
								.choose-link
									color: #651f01
	
	//- Phần Stories
		
.stories
	position: relative
	.owl-carousel
		.item
			.title
				+pos(abs, 40% 0 0 0)
				transform: translateY(-50%)
				text-align: right
				h2, p
					color: $whites
				p
					+fz(.8rem)
					font-family: 'PT Sans', sans-serif
					overflow: hidden
					text-overflow: ellipsis
					display: -webkit-box
					-webkit-line-clamp: 5
					-webkit-box-orient: vertical
		.owl-nav
			color: $whites
			text-align: center
			&:focus
				border: none
			.owl-prev
				+mar(0 .5rem 0 0)
			.owl-next
				+mar(0 0 0 .5rem)
	+media-breakpoint-up(sm)
		.owl-carousel
			.item
				.title
					+pos(abs, 40% 0 0 0)
					h2
						+fz(3rem)
						text-transform: uppercase
					p
						+fz(1.1rem)
						+lh(1.7rem)
						overflow: hidden
						text-overflow: ellipsis
						display: -webkit-box
						-webkit-line-clamp: 7
						-webkit-box-orient: vertical
			.owl-nav
				+pos(abs, 85% 15% null null)
				.owl-prev, .owl-next
					+fz(1.5rem)
	+media-breakpoint-up(md)
		.owl-carousel
			.item
				.title
					+pos(abs, 45% 0 0 0)
					p
						+fz(1.1rem)
						overflow: hidden
						text-overflow: ellipsis
						display: -webkit-box
						-webkit-line-clamp: 6
						-webkit-box-orient: vertical
			.owl-nav
				+pos(abs, 80% 8% null null)
	+media-breakpoint-up(lg)
		.owl-carousel
			.item
				.title
					+pos(abs, 50% 0 0 0)
					p
						+fz(1.1rem)
						overflow: hidden
						text-overflow: ellipsis
						display: -webkit-box
						-webkit-line-clamp: 10
						-webkit-box-orient: vertical
//-section product
.product
	background: #000
	.title
		+pad(4.5rem null null)
		h2
			+fz(1.5rem)
			color: #fff
			+media-breakpoint-up(md)
				+fz(2.5rem)
		a
			text-decoration: none
			+mar(2.5rem 2rem 2rem)
	.link
		+pad(4.5rem null null)
		a
			+fz(1rem)
			color: #fff
			text-decoration: none
			+mar(2.5rem 2rem 2rem)
		+media-breakpoint-up(md)
			+pad(5rem null null)
			a
				+fz(1.5rem)
				&:hover
					border-bottom: 1px solid #b6907e
					color: #b6907e
					transition: .5s all ease-in-out

	.item
		border: 1.2px solid #ffffff29
		+pad(null null 3rem)
		+mar(null null 2rem)
		h3
			color: #fff
			+fz(1.3rem)
		span
			color: #b6907e
.logotdk
	background: #0e0e0e
	.owl-carousel
		+pad(1rem null)
		.owl-nav
			button
				width: 2rem
				height: 2rem
				background: #fff
				+fz(1rem)
.comment
	background: #000
	.title
		+pad(3rem null 4rem)
		h2
			color: #fff
			+fz(2rem)
	.owl-carousel
		figure
			img
				border-radius: 50%
		figcaption
			h4
				color: #fff
				+pad(1rem null)
				+fz(1.5rem)
			p
				color: #767676
				line-height: 2rem
				font-family: 'PT Sans', sans-serif
		.owl-dots
			button
				color: #b6907e
	+media-breakpoint-up(md)
		.owl-carousel
			.owl-dots
				+pad(1rem null 3rem)
		.title
			+pad(4rem null 5rem)
