footer.canhcam-footer-2
	.linkfooter
		.container
			.row
				.col-md.col-lg
					h4.text-center
						img.img-fluid(src="./img/logo-white.png", alt="")
						p America logo watch
				.col-md.col-lg
					h4.text-center.text-md-left.mt-5.mt-md-0.ml-md-5 Product
					nav.list-group.text-center.text-md-left.ml-md-5.ml-lg-10
						.list-group-item
							a(href="#") SHOP
						.list-group-item
							a(href="#") SERVICES
						.list-group-item
							a(href="#") FAQS
				.col-md.col-lg
					h4.text-center.text-md-left.mt-5.mt-md-0
					nav.list-group.text-center.text-md-left.mt-md-5
						.list-group-item
							a(href="#") CONTACT US
						.list-group-item
							a(href="#") MY ACCOUNT

				.col-md-4.col-lg-5
					.row
						.col-lg
							.subscribe
								h4.text-center.text-md-right.mr-lg-5.mt-lg-0 SIGN UP FOR OUR NEWSLETTER
								form.form-inline.my-2.my-lg-0.search.justify-content-center.justify-content-md-end
									.input-group
										input.form-control(type='text', placeholder="Enter email", aria-label="SIGN UP FOR OUR NEWSLETTER", aria-describedby='basic-addon2')
										.input-group-append
											button.btn.btn-primary.searchbtn(type='button')
												p SEND
			.row
				.col-md-6.text-center.text-md-left
					.text
						h5 Design by LandingpageVN
				.col-md-6.text-center.text-md-right
					.text
						a(href="#")
							i.fa.fa-twitter
						a(href="#")
							i.fa.fa-facebook-official
