<!-- ////////////// HEADER ////////////// -->
header
	.container
		nav.navbar.navbar-expand-lg.navbar-light
			a.navbar-brand(href="#home", data-link="#home") 
				img(src="./img/logo_min.png", alt="Logo")
			//- Đây là nút sẽ hiển thị trong mobile
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#fullStackMenu" aria-controls="fullStackMenu" aria-expanded="false" aria-label="Toggle navigation")
				span.fa.fa-bars
			#fullStackMenu.collapse.navbar-collapse
				//- Thuộc tính '.mr-auto' này sẽ đẩy me nu về bên phải 
				.mr-auto
				ul.navbar-nav
					li.nav-item
						a.nav-link(href="#watch", data-link="#watch") watches
					li.nav-item
						a.nav-link(href="#service", data-link="#service") services
					li.nav-item
						a.nav-link(href="#faq", data-link="#faq") faqs
					li.nav-item
						a.nav-link(href="#contact", data-link="#contact") contact
					li.nav-item
						a.nav-link(href="#request", data-link="#request") request virtual
				ul.tel.list-unstyled
					li.item-icons
						a.item-link(href="#") 
							i.fa.fa-phone
					li.item-tel
						a.item-link(href="#") +84 964 553 765
<!-- ////////////// HEADER ////////////// -->
